.facets-faceted-navigation-facet-group-expander {
  display:block;
  padding: $sc-base-padding * 2;
  background: #eee;
}

.facets-faceted-navigation-item-facet-group-wrapper {
  padding-left: 10px;
}