.about-us-content-text {
  ul {
    li {
      list-style-type: disc;
      margin-bottom: 15px;
      margin-left: 15px;
      span {
        color: #5B87AE;
        font-weight: 600;
      }
    }
  }
}